@font-face {
    font-family: helveticaSemiBold;
    src: url("fonts/Helvetica.ttf");
}

@font-face {
    font-family: Cabin;
    src: url("fonts/Cabin.ttf");
}

* {
    font-family: Helvetica;
    scroll-behavior: smooth;
}

.fixed-top {
    top: -40px !important;
    transform: translateY(40px);
    transition: transform .7s;
}

.top_navbar {
    background-color: #1a2a56;
    height: 13vh;
}

.top_navbar_img {
    width: 70%;
}

.navbar {
    background-color: #fbc014 !important;
}

.navbar-toggler-icon {
    color: white;
}

.navbar-toggler {
    color: transparent !important;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 0px transparent !important;
}

.nav-link {
    line-height: 11vh;
    height: 13vh;
}

.nav_button {
    font-size: 20px !important;
    color: white !important;
    border: none !important;
    border-radius: 50px;
    width: max-content;
    position: relative;
}

.magnify_icon {
    transition: 0.5s ease-in-out !important;
}

.fa-xmark {
    transform: translateY(5px);
    font-size: 25px;
}

.searchbar_div {
    position: fixed;
    background-color: #485f9c;
    border: none;
    border-radius: 25px;
    width: 30%;
    transform: translate(300px, -32px);
}

.show_searchbar {
    transition: 0.5s ease-in-out;
    transform: translate(-420px, -32px);
}

.searchbar {
    width: 100%;
    background-color: transparent !important;
    border: 0px;
    outline: 0px;
    color: white;
    font-size: medium;
    font-weight: lighte !important;
    letter-spacing: .8px;
}

.searchbar::placeholder {
    color: white;
    font-size: medium;
    font-weight: 300;
}
.nav-item {
    text-align: center !important;
    padding-left: 4px;
    padding-right: 4px;
    min-width: 120px !important;
}

.nav-link {
    color: #1a2a56 !important;
    font-family: cabin;
    font-size: 15px !important;
}

.nav-link:hover {
    background-color: #1a2a56;
    color: #fff !important;
    font-family: cabin !important;
}

.section_title {
    text-align: center;
}

.title_text {
    font-size: 45px;
    font-weight: bold;
}

.title-line {
    margin-top: -2px;
    width: 15%;
    height: 4px !important;
    border: 2px solid #fbc014;
    color: #fbc014;
    background-color: #fbc014;
    opacity: 100%;
}

.silder_card {
    text-align: center !important;
    background-color: #1a2a56;
    color: white;
    min-height: 60vh;
}

.silder_card_title {
    color: #fbc014;
    font-weight: bold;
    margin-left: 2px;
    margin-right: 2px;
}

.slider_image_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.silder_card_icon {
    width: 70% !important;
}

.hidden {
    display: none;
}

.silder_card_desc {
    font-size: 13px;
    font-weight: 400;
}

.silder_card_btn {
    font-size: 14px !important;
    color: white !important;
    border: 1px solid white !important;
    border-radius: 15px !important;
    width: max-content !important;
}

.silder_card:hover {
    transition: 0.3s ease-in-out;
    background-color: #fbc014;
    box-shadow:
        1.8px 1.4px 1.6px -10px rgba(0, 0, 0, 0.018),
        4.3px 3.2px 3.6px -10px rgba(0, 0, 0, 0.026),
        7.6px 5.8px 6.5px -10px rgba(0, 0, 0, 0.032),
        12.7px 9.6px 10.8px -10px rgba(0, 0, 0, 0.038),
        20.9px 15.9px 17.7px -10px rgba(0, 0, 0, 0.044),
        36.5px 27.7px 31px -10px rgba(0, 0, 0, 0.052),
        79px 60px 67px -10px rgba(0, 0, 0, 0.07);
}

.silder_card:hover .silder_card_title {
    color: white !important;
}

.silder_card:hover .silder_card_icon {
    color: white !important;
}

.silder_card:hover .hidden {
    display: block;
}

.silder_card:hover .visible {
    display: none;
}

.main-slider-container {
    position: relative;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #1a2a56 !important;
    opacity: 1 !important;
    height: 40px !important;
    width: 40px !important;
    border: none !important;
    border-radius: 50px !important;
    position: absolute !important;
    margin-top: 180px !important;
}

.carousel-control-prev {
    transform: translateX(-80px) !important;
}

.carousel-control-next {
    transform: translateX(80px) !important;
}

.carousel-control-prev-icon {
    font-size: small !important;
}









.middle_bar {
    background-color: #fbc014;
    width: 100%;
    height: 15px !important;
    position: relative !important;
}

.middle_section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center !important;
    background-color: #fbc014;
    width: 65% !important;
    border-radius: 150px;
}

.middle_section_title {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    font-family: Helvetica;
}

.middle_section_description {
    color: #1a2a56 !important;
    font-weight: 500 !important;
    font-size: 17px !important;
}

.middle_section_button {
    color: white !important;
    background-color: #1a2a56 !important;
    border-radius: 50px !important;
    border: none !important;
    margin-bottom: 3px;
}



.development_section_container {
    background-image: url("../images/layout-21.jpg");
}

.development_img_div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.development_content_div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.development_title {
    font-size: 38px;
    font-weight: bold;
    color: #1a2a56 !important;
}

.point_row {
    margin-top: 10px !important;
}

.development_points {
    font-weight: 500 !important;
    font-size: 17px !important;
    color: #211e50 !important;
}

.point_bar {
    background-color: #fbc014;
    height: 6px !important;
    width: 90%;
}

.point_bar_div {
    display: flex !important;
    align-items: center;
    justify-content: center;
}







/* .reading_section{
    height: 100vh !important;
} */



.reading_title {
    font-size: 40px;
    font-weight: bold;
    position: relative !important;
    color: #fbc014;
}

.highlights::after,
.media::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 7px;
    bottom: -10px;
    left: 15px;
}

.highlights::after {
    background-color: #211e50;
}

.calander_div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calander {
    background-color: #211e50;
    width: 100px !important;
    height: 80px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 28px;
    font-weight: 600;
}

.month {
    margin-top: -15px !important;
}

.reading_heading {
    font-weight: bold;
    font-size: 19px;
    color: #211e50;
}

.reading_description {
    font-size: 17px;
    font-weight: 400;
    color: #201d4f;
    line-height: 22px;
}

.reading_hr {
    height: 3px;
    fill: #1a2a56;
    opacity: 80%;
}

.reading_button {
    background-color: #fbc014 !important;
    color: white !important;
    border-radius: 50px !important;
    margin-left: auto !important;
    float: right !important;
}

.reading_slider_div {
    background-color: #ececeb;
}

.media {
    color: #211e50;
}

.media::after {
    background-color: #fbc014;
}

.reading_slider_indicator {
    float: right;
    border: none !important;
    background-color: transparent !important;
    color: #211e50 !important;
    font-size: 25px
}

.reading_slider_indicator:hover {
    transition: 0.3s ease-in-out;
    font-size: 26px;
    color: white !important;
}


.achivement_section {
    background: url(../images/layout-30.jpg);
    background-size: cover !important;
}

.achivment_card {
    background-color: #fbc014;
    border: #1a2a56 1px solid;
    outline: #fbc014 solid 10px;
    position: relative !important;
    display: flex;
    align-items: end;
}

.first_achivment {
    min-height: 400px !important;
}

.ssecond_achivment {
    min-height: 350px !important;
}

.third_achivment {
    min-height: 300px !important;
}

.achivment_card_img_div {
    position: absolute;
    top: -12px;
    left: 10%;
}

.achivment_card_heading {
    font-size: 38px;
    font-weight: 600;
    color: #1a2a56;
    position: relative;
}

.achivment_card{
    overflow: hidden !important;
}

.achivment_card_heading::before {
    content: '';
    position: absolute;
    background-color: white;
    height: 5px;
    width: 250px !important;
    bottom: -10px;
}

ul.bullets {
    list-style-type: square;
}

li::marker {
    font-size: 22px;
    color: white;
}



.faq_title {
    font-size: 40px;
    font-weight: bold;
    position: relative !important;
    color: #1a2a56;
    line-height: 40px;
}

.faq_title::after {
    content: '';
    position: absolute;
    background-color: #fbc014;
    width: 100%;
    height: 7px;
    bottom: -20px;
    left: 0px;
}

.faq_points {
    font-size: 15px;
    color: #707070;
}

.faq_button {
    float: left !important;
    background-color: #201d4f !important;
    color: white !important;
    border-radius: 50px !important;
    margin-left: auto !important;
}

.report_column {
    border-left: 2px solid #707070 !important;
}

.report_ul_title {
    font-size: 23px;
    font-weight: bold;
    color: #211e50;
    margin-left: 10px;
}

.report_points {
    line-height: 20px;
    font-size: 15px;
    color: #707070;
}


ul.yellow-bullets {
    list-style-type: square;
    line-height: 40px;
}

ul.yellow-bullets li::marker {
    font-size: 22px;
    color: #fbc014;
}







.top_footer {
    background-color: #fbc014;
}

.footer_item {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 19px;
    color: #211e50;
    font-weight: 500 !important;
    position: relative;
    min-width: 150px;
    cursor: pointer;
}

.footer_item::after {
    content: '';
    position: absolute;
    height: 1.5px;
    width: 25px;
    border-radius: 5px;
    background-color: #211e50;
    transform: rotate(90deg) translate(12px, -30px);
}
a.footer_item{
    text-decoration: none !important;
}

.bottom_footer {
    background-color: #201d4f;
}

.copy_top {
    color: #fbc014;
    font-size: 15px;
}

.copy_bottom {
    font-size: 10px;
    color: white;
}

/*========== SCROLL UP ==========*/
.scrollup {
    position: fixed;
    right: 3rem;
    bottom: -20%;
    background-color: #fbc014;
    opacity: 1;
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.scrollup:hover {
    background-color: #e9b109;
}

.scrollup__icon {
    font-size: 1.5rem;
    color: #fff;
}

/* Show scroll */
.show-scroll {
    bottom: .5rem;
}



/* =================== Buttons ================= */

.blue_button{
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.blue_button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: white;
    height: 150px;
    width: 200px;
    border-radius: 50%;
}
.blue_button:hover {
    color: #201d4f !important;
    font-weight: 500;
}
   
.blue_button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}
   
.blue_button:hover:before {
    top: -30px;
    left: -30px;
}


.silder_card_btn{
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.silder_card_btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: white;
    background: #1a2a56;
    height: 150px;
    width: 200px;
    border-radius: 50%;
}
.silder_card_btn:hover {
    color: #fbc014!important;
    color: white !important;
    font-weight: 500 !important;
    border: 1px solid transparent !important;

}
   
.silder_card_btn:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}
   
.silder_card_btn:hover:before {
    top: -30px;
    left: -30px;
}

.yellow_button{
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.yellow_button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #201d4f;
    height: 150px;
    width: 200px;
    border-radius: 50%;
}
.yellow_button:hover {
    color: #fff !important;
    font-weight: 500;
    border-color: #201d4f;
    transition: 0.5s ease-in;
}
   
.yellow_button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}
   
.yellow_button:hover:before {
    top: -30px;
    left: -30px;
}














.margin-xsm {
    height: 5vh;
}

.margin-sm {
    height: 10vh;
}

.margin-md {
    height: 20vh;
}
.margin-xmd {
    height: 25vh;
}
.margin-lg{
    height: 30vh;
}




/*==================== MEDIA QUERIES ====================*/
/* For small devices */


/* For medium-small devices */
@media screen and (min-width:281px) and (max-width:480px) {

    .show-scroll {
        bottom: rem;
        right: 2rem;
    }


    .margin-xsm {
        height: 1.5vh;
    }

    .margin-sm {
        height: 3vh;
    }

    .margin-md {
        height: 7vh;
    }
    .margin-xmd {
        height: 9vh;
    }
    .margin-lg{
        height: 10vh;
    }


    .top_navbar_img {
        margin-top: 20px !important;
        width: 90%;
    }

    .top_navbar {
        height: 8vh;
    }

    .nav_button {
        font-size: 15px;
    }

    .searchbar_div {
        width: 50%;
    }

    .show_searchbar {
        transform: translate(-340px, -32px);
    }

    #wrapper {
        display: block;
    }

    .searchbar {
        width: 100%;
    }

     /* ------------ What we do ------------ */
     .title_text {
        font-size: 25px;
    }

    .silder_card_title {
        font-size: 12px;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .silder_card_icon {
        width: 45% !important;
    }

    .silder_card_desc {
        font-size: 10px;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .silder_card_btn {
        font-size: 10px !important;
    }

    .silder_card {
        min-height: fit-content;
    }

    .carousel-control-prev {
        transform: translateX(-20px) translateY(-60px) !important;
        height: 25px !important;
        width: 25px !important;
        font-size: 10px ;
    }

    .carousel-control-next {
        transform: translateX(20px) translateY(-60px) !important;
        height: 25px !important;
        width: 25px !important;
        font-size: 10px ;
    }

    /* ------------- Development Scheme --------------- */
    .middle_bar{
        height: 10px !important;
    }
    .middle_section{
        width: 80% !important;
    }
    .middle_section_title {
        font-size: 16px;
        }
    .middle_section_description{
        font-size: 9px !important;
    }
    .middle_section_title_div{
        margin-top: 5px;
    }
    .middle_section_description_div{
        margin-top: -10px !important;
    }
    .middle_section_button{
        font-size: 10px;
    }
    .development_img{
        width: 50%;        
    }
    .point_bar{
        width: 40%;
    }
    .development_title{
        margin-top: 26px;
        font-size: 25px;
    }
    .development_points{
        font-size: 13px !important;
    }

        /* ------------- News & Events --------------- */

        .reading_title{
        font-size: 25px;
    }
    .highlights::after,
    .media::after {
    height: 4px;
    bottom: -7px;
    }
    .reading_heading{
        font-size: 14px;
        line-height: 18px;
    }
    .reading_button,
    .faq_button{
        font-size: 12px;
    }
    .reading_description{
        font-size: 12px;
        line-height: 15px;
    }
    .calander{
        font-size: 15px;
        height: fit-content !important;
        padding: 3px 0px 3px !important;
    }
    .month {
        margin-top: -5px !important;
    }

    /* ================= Achivment ===================  */

    .achivment_card_heading{
    font-size: 23px;
    }
    .achivment_card_heading::before {
        width: 150px !important;
    }
    .bullets{
        font-size: 12px;
    }

    /* ================= FAQs ===================  */
    .faq_title{
        font-size: 27px;
    }
    .faq_title::after{
        height: 4px;
    }
    .faq_points,
    .report_points{
        font-size: 13px;
    }
    .report_ul_title{
        font-size: 17px;
    }
    /* =============== Footer ================ */
    .footer_item {
        padding-top: 9px;
        padding-bottom: 9px;
        min-width: 14%;
        font-size: 12px;
    }
    .footer_item::after {
        display: none;
    }
    .copy_top{
        font-size: 9.5px;
    }
    .copy_bottom{
        font-size: 8.5px;
    }

}





/* For medium devices */
@media screen and (min-width:481px) and (max-width: 568px) {

    .margin-xsm {
        height: 2vh;
    }

    .margin-sm {
        height: 4vh;
    }

    .margin-md {
        height: 8vh;
    }
    .margin-xmd {
        height: 10vh;
    }
    .margin-lg{
        height: 11vh;
    }

    /* --------- Navbar ------------- */

    .top_navbar_img {
        margin-top: 15px !important;
        width: 90%;
    }

    .top_navbar {
        height: 70px;
    }

    .nav_button {
        font-size: 17px !important;
    }

    .searchbar_div {
        width: 75%;
    }

    .show_searchbar {
        transform: translate(-400px, -35px);
    }

    #wrapper {
        display: none;
    }

    /* ------------ What we do ------------ */
    .title_text {
        font-size: 25px;
    }

    .silder_card_title {
        font-size: 14px;
    }

    .silder_card_icon {
        width: 45% !important;
    }

    .silder_card_desc {
        font-size: 12px;
    }

    .silder_card_btn {
        font-size: 12px !important;
    }

    .silder_card {
        min-height: fit-content;
    }

    .carousel-control-next,
    .carousel-control-prev{
        height: 25px !important;
        width: 25px !important;
    }

    .carousel-control-prev {
        transform: translateX(-20px) translateY(-60px) !important;
    }

    .carousel-control-next {
        transform: translateX(20px) translateY(-60px) !important;
    }

    /* ------------- Development Scheme --------------- */
    .middle_bar{
        height: 10px !important;
    }
    .middle_section{
        width: 75% !important;
    }
    .middle_section_title_div{
        margin-top: 5px;
    }
    .middle_section_title {
        font-size: 20px;
    }
    .middle_section_description_div{
        margin-top: -10px !important;
    }
    .middle_section_description{
        font-size: 11px !important;
    }
    .middle_section_button{
        font-size: 8px;
    }

    .development_img{
        width: 50%;        
    }
    .point_bar{
        width: 40%;
    }
    .development_title{
        margin-top: 25px;
        font-size: 27px;
    }
    .development_points{
        font-size: 14px !important;
    }


      /* ------------- News & Events --------------- */

    .reading_title{
        font-size: 25px;
    }
    .highlights::after,
    .media::after {
    height: 4px;
    bottom: -7px;
    }
    .reading_heading{
        font-size: 14px;
    }
    .reading_button,
    .faq_button{
        font-size: 13px;
    }
    .reading_description{
        font-size: 12px;
        line-height: 17px;
    }
    .calander{
        font-size: 15px;
        height: fit-content !important;
        padding: 5px 0px 5px;
    }
    .month {
        margin-top: -5px !important;
    }


    /* ================= Achivment ===================  */
    .achivment_card_heading{
    font-size: 25px;
    }
    .achivment_card_heading::before {
        width: 170px !important;
    }
    .bullets{
        font-size: 15px;
    }

    /* ================= FAQs ===================  */
    .faq_title{
        font-size: 29px;
    }
    .faq_title::after{
        height: 5px;
    }
    .faq_points,
    .report_points{
        font-size: 13px;
    }
    .report_ul_title{
        font-size: 18px;
    }

    /* =============== Footer ================ */
    .footer_item {
        padding-top: 9px;
        padding-bottom: 9px;
        min-width: 15%;
        font-size: 12px;
    }
    .footer_item::after {
        display: none;
    }
    .copy_top{
        font-size: 10px;
    }
    .copy_bottom{
        font-size: 9px;
    }
    

}














/* For medium large devices */
@media screen and (min-width:569px) and (max-width:768px) {

    .margin-xsm {
        height: 3.5vh;
    }

    .margin-sm {
        height: 7vh;
    }

    .margin-md {
        height: 13vh;
    }
    .margin-xmd {
        height: 15vh;
    }
    .margin-lg{
        height: 18vh;
    }

    /* --------- Navbar ------------- */

    .top_navbar_img {
        margin-top: 15px !important;
        width: 80%;
    }

    .top_navbar {
        height: 70px;
    }

    .nav_button {
        font-size: 17px !important;
    }

    .searchbar_div {
        width: 75%;
        height: 40px;
        display: flex;
        align-items: center;
    }

    .show_searchbar {
        transform: translate(-550px, -33px);
    }

    #wrapper {
        display: none;
    }

    /* ------------ What we do ------------ */
    .title_text {
        font-size: 30px;
    }

    .silder_card_title {
        padding-top: 20px;
        font-size: 16px;
    }

    .silder_card_icon {
        width: 45% !important;
    }

    .silder_card_desc {
        font-size: 10px;
    }

    .silder_card_btn {
        font-size: 10px !important;
        margin-bottom: 20px;
    }

    .silder_card {
        min-height: fit-content;
    }

    .carousel-control-prev {
        transform: translateX(-50px) !important;
    }
    .carousel-control-next {
        transform: translateX(50px) !important;
    }
    /* ------------- Development Scheme --------------- */
    .middle_bar{
        height: 11px !important;
    }
    .middle_section{
        width: 75% !important;
    }
    .middle_section_title_div{
        margin-top: 7px;
    }
    .middle_section_title {
        font-size: 20px;
    }
    .middle_section_description_div{
        margin-top: -8px !important;
    }
    .middle_section_description{
        font-size: 10px !important;
    }
    .middle_section_button{
        font-size: 11px;
    }
    .development_img{
        width: 45%;        
    }
    .development_title{
        margin-top: 35px;
        font-size: 35px;
    }
    .development_points{
        font-size: 13px !important;
    }

       /* ------------- News & Events --------------- */

       .reading_title{
        font-size: 30px;
    }
    .highlights::after,
    .media::after {
    height: 4px;
    bottom: -7px;
    }
    .reading_heading{
        font-size: 17px;
    }
    .reading_button,
    .faq_button{
        font-size: 14px;
    }
    .reading_description{
        font-size: 15px;
        line-height: 15px;
    }
    .calander{
        font-size: 19px;
        height: fit-content !important;
        padding: 5px 0px 5px;
    }
    .month {
        margin-top: -8px !important;
    }

    /* ================= Achivment ===================  */
    .achivment_card_heading{
    font-size: 27px;
    }
    .achivment_card_heading::before {
        width: 190px !important;
    }
    .bullets{
        font-size: 17px;
    }

    /* ================= FAQs ===================  */
    .faq_title{
        font-size: 31px;
    }
    .faq_title::after{
        height: 6px;
    }
    .faq_points,
    .report_points{
        font-size: 13px;
    }
    .report_ul_title{
        font-size: 19px;
    }

    /* =============== Footer ================ */
    .footer_item {
        padding-top: 9px;
        padding-bottom: 9px;
        min-width: 14%;
        font-size: 13px;
    }
    .footer_item::after {
        transform: rotate(90deg) translate(12px, -10px);
    }



    
}


/* For large devices */
@media screen and (min-width:769px) and (max-width:1024px) {

    .margin-xsm {
        height: 4.5vh;
    }

    .margin-sm {
        height: 8vh;
    }

    .margin-md {
        height: 14vh;
    }
    .margin-xmd {
        height: 16vh;
    }
    .margin-lg{
        height: 19vh;
    }


        .nav_button {
        font-size: 17px !important;
    }

    /* ------------- Development Scheme --------------- */
    .middle_bar{
        height: 12px !important;
    }
    .middle_section{
        width: 75% !important;
    }
    .middle_section_title {
        font-size: 30px;
        font-weight: 600;
        }
    .middle_section_description{
        font-size: 13px !important;
    }
    .middle_section_button{
        font-size: 14px;
    }
    .development_img{
        width: 100%;        
    }
    .development_title{
        font-size: 35px;
    }
    .development_points{
        font-size: 15px !important;
    }

       /* ------------- News & Events --------------- */

       .reading_title{
        font-size: 35px;
    }
    .highlights::after,
    .media::after {
    height: 4px;
    bottom: -7px;
    }
    .reading_heading{
        font-size: 19px;
        line-height: 21px;
    }
    .reading_button,
    .faq_button{
        font-size: 15px;
    }
    .reading_description{
        font-size: 16px;
        line-height: 18px;
    }
    .calander{
        font-size: 19px;
        height: fit-content !important;
        padding: 5px 0px 5px;
    }
    .month {
        margin-top: -8px !important;
    }

     /* ================= Achivment ===================  */
     .achivment_card_heading{
        font-size: 30px;
     }
     .achivment_card_heading::before {
        width: 210px !important;
    }
     .bullets{
        font-size: 19px;
    }

    /* ================= FAQs ===================  */
    .faq_title{
        font-size: 41px;
    }
    .faq_title::after{
        height: 6.5px;
    }
    .faq_points,
    .report_points{
        font-size: 14px;
    }
    .report_ul_title{
        font-size: 21px;
    }

    /* =============== Footer ================ */
    .footer_item {
        padding-top: 9px;
        padding-bottom: 9px;
        min-width: 15%;
        font-size: 15px;
    }
    .footer_item::after {
        transform: rotate(90deg) translate(12px, -10px);
    }
}



@media screen and (min-width:1024px) and (max-width:1200px) {
    .middle_bar{
        height: 12px !important;
    }
    .middle_section{
        width: 75% !important;
    }
    .middle_section_title {
        font-size: 30px;
        font-weight: 600;
        }
    .middle_section_description{
        font-size: 13px !important;
    }
    .development_img{
        width: 100%;        
    }
    .development_points{
        font-size: 17px !important;
    }
    /* =============== Footer ================ */
    .footer_item {
        padding-top: 9px;
        padding-bottom: 9px;
        min-width: 15%;
    }
    .footer_item::after {
        transform: rotate(90deg) translate(12px, -10px);
    }

}